/* From Uiverse.io by sohoning */ 
.cards {
    position: relative;
    transition-duration: 0.5s;
    background: none;
    overflow: hidden;
    height: 270px;
  }

  .cards .outlinePage {
    box-shadow: 0 10px 15px #031a32;
  }
  
  .cards .detailPage {
    display: flex;
  }
  
  .outlinePage {
    position: relative;
    background: linear-gradient(135deg, #0f2c5d, #1c3d73);
    width: 300px;
    height: 150px;
    border-radius: 25px;
    transition-duration: 0.5s;
    z-index: 2;
  }
  
  .detailPage {
    position: relative;
    display: none;
    width: 300px;
    height: 120px;
    background: rgb(15, 30, 116);
    top: -20px;
    z-index: 1;
    transition-duration: 1s;
    border-radius: 0 0 25px 25px;
    overflow: hidden;
    align-items: center;
    justify-content: flex-start;
  }
  
  .splitLine {
    position: absolute;
    width: 200px;
    height: 10px;
    top: 100px;
    background-image: linear-gradient(
      to right,
      transparent 10%,
      #ffe8a0 20%,
      #f7b733 50%,
      #ffe8a0 70%,
      transparent 90%
    );
    z-index: 1;
  }
  
  .trophy {
    position: absolute;
    right: 0px;
    top: 4px;
    z-index: 2;
  }
  
  .ranking_number {
    position: relative;
    color: #ffc64b;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 80px;
    left: 20px;
    padding: 0;
    margin: 0;
    top: -5px;
  }
  
  .ranking_word {
    position: relative;
    font-size: 40px;
    color: #424c50;
  }
  
  .userAvatar {
    position: absolute;
    bottom: 6px;
    left: 20px;
  }
  
  .userName {
    position: relative;
    font-weight: 600;
    color: #6b7578;
    left: 55px;
    font-size: 18px;
    top: -2px;
  }
  
  .medals {
    position: absolute;
    top: 15px;
    right: 5px;
  }
  
  .gradesBox {
    position: relative;
    height: 75px;
    top: 10px;
    margin-right: 10px;
    margin-left: 15px;
  }
  
  .gradesIcon {
    position: absolute;
    top: 10px;
  }
  
  .gradesBoxLabel {
    position: relative;
    display: block;
    margin-left: 60px;
    color: #424c50;
    letter-spacing: 6px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-weight: 800;
    font-size: 13px;
  }
  
  .gradesBoxNum {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 25px;
    font-weight: 800;
    margin-left: 60px;
    color: #ea9518;
    top: -5px;
  }
  
  .timeNum {
    color: #6cabf6;
  }
  
  .slide-in-top {
    animation: slide-in-top 1s cubic-bezier(0.65, 0.05, 0.36, 1) both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

  /* button in number ninja */
.pushable {
  --bg: #e74c3c;
  --text-color: #fff;
  position: relative;
  width: 150px;
  border: none;
  background: var(--bg);
  color: var(--text-color);
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.9;
  letter-spacing: 1px;
  box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
}

.pushable:hover {
  opacity: 1;
}

.pushable:active {
  top: 4px;
  box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
}

.shake {
  animation: shake 0.3s ease-in-out;
  border: 2px solid red;
}



/* loader in user game profile */
/* From Uiverse.io by Nawsome */ 
.loader {
  position: relative;
  width: 75px;
  height: 100px;
}

.loader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background: rgb(255, 255, 255);
  transform-origin: center bottom;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.loader__bar:nth-child(1) {
  left: 0px;
  transform: scale(1, 0.2);
  -webkit-animation: barUp1 4s infinite;
  animation: barUp1 4s infinite;
}

.loader__bar:nth-child(2) {
  left: 15px;
  transform: scale(1, 0.4);
  -webkit-animation: barUp2 4s infinite;
  animation: barUp2 4s infinite;
}

.loader__bar:nth-child(3) {
  left: 30px;
  transform: scale(1, 0.6);
  -webkit-animation: barUp3 4s infinite;
  animation: barUp3 4s infinite;
}

.loader__bar:nth-child(4) {
  left: 45px;
  transform: scale(1, 0.8);
  -webkit-animation: barUp4 4s infinite;
  animation: barUp4 4s infinite;
}

.loader__bar:nth-child(5) {
  left: 60px;
  transform: scale(1, 1);
  -webkit-animation: barUp5 4s infinite;
  animation: barUp5 4s infinite;
}

.loader__ball {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: rgb(44, 143, 255);
  border-radius: 50%;
  -webkit-animation: ball624 4s infinite;
  animation: ball624 4s infinite;
}

@keyframes ball624 {
  0% {
    transform: translate(0, 0);
  }

  5% {
    transform: translate(8px, -14px);
  }

  10% {
    transform: translate(15px, -10px);
  }

  17% {
    transform: translate(23px, -24px);
  }

  20% {
    transform: translate(30px, -20px);
  }

  27% {
    transform: translate(38px, -34px);
  }

  30% {
    transform: translate(45px, -30px);
  }

  37% {
    transform: translate(53px, -44px);
  }

  40% {
    transform: translate(60px, -40px);
  }

  50% {
    transform: translate(60px, 0);
  }

  57% {
    transform: translate(53px, -14px);
  }

  60% {
    transform: translate(45px, -10px);
  }

  67% {
    transform: translate(37px, -24px);
  }

  70% {
    transform: translate(30px, -20px);
  }

  77% {
    transform: translate(22px, -34px);
  }

  80% {
    transform: translate(15px, -30px);
  }

  87% {
    transform: translate(7px, -44px);
  }

  90% {
    transform: translate(0, -40px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@-webkit-keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }

  40% {
    transform: scale(1, 0.2);
  }

  50% {
    transform: scale(1, 1);
  }

  90% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 0.2);
  }
}

@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }

  40% {
    transform: scale(1, 0.2);
  }

  50% {
    transform: scale(1, 1);
  }

  90% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 0.2);
  }
}

@-webkit-keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }

  40% {
    transform: scale(1, 0.4);
  }

  50% {
    transform: scale(1, 0.8);
  }

  90% {
    transform: scale(1, 0.8);
  }

  100% {
    transform: scale(1, 0.4);
  }
}

@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }

  40% {
    transform: scale(1, 0.4);
  }

  50% {
    transform: scale(1, 0.8);
  }

  90% {
    transform: scale(1, 0.8);
  }

  100% {
    transform: scale(1, 0.4);
  }
}

@-webkit-keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }

  100% {
    transform: scale(1, 0.6);
  }
}

@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }

  100% {
    transform: scale(1, 0.6);
  }
}

@-webkit-keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }

  40% {
    transform: scale(1, 0.8);
  }

  50% {
    transform: scale(1, 0.4);
  }

  90% {
    transform: scale(1, 0.4);
  }

  100% {
    transform: scale(1, 0.8);
  }
}

@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }

  40% {
    transform: scale(1, 0.8);
  }

  50% {
    transform: scale(1, 0.4);
  }

  90% {
    transform: scale(1, 0.4);
  }

  100% {
    transform: scale(1, 0.8);
  }
}

@-webkit-keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }

  40% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 0.2);
  }

  90% {
    transform: scale(1, 0.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }

  40% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 0.2);
  }

  90% {
    transform: scale(1, 0.2);
  }

  100% {
    transform: scale(1, 1);
  }
}